{
  "parserOptions": {
    "ecmaVersion": 2018
  },

  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended", "plugin:mocha/recommended"],
  "overrides": [
    {
      "files": ["*.spec.js"],
      "rules": {
        "func-names": "off"
      }
    }
  ]
}
